.container{
    text-align: center;
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr); 
    /* use auto-fit? */
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background: rgb(110, 110, 110);
}

.container .item {
    background-color: rgb(243, 238, 232);
}