.container{
    text-align: center;
    display: grid;
    width: 560px;
    height: 560px;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
    background: rgb(0, 0, 0);
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.container .divs {
    background-color: rgb(255, 255, 255);
}

.filled {
    background-color: rgb(129, 106, 106);
}

/* div:hover {
    background-color: black;
} */